<mat-card>
    <mat-list matlist>
        <h2 class="container" mat-subheader>All Categories</h2>
        
        <mat-list-item  *ngFor="let c of categories">
            <mat-icon matListItemIcon>category</mat-icon>
            <div matListItemLine>{{c.title}}</div>
            <div matListItemLine>{{c.description}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <div class="container text-center mt20 mb10">
        <button routerLink="/admin/add-category" mat-raised-button color="primary"><mat-icon mat-list-icon>add_card</mat-icon>Add New Category</button>
    </div>
</mat-card>



<!-- <mat-card>
    <mat-list>

        <div mat-subheader>All Categories</div>
        <mat-list-item *ngFor="let c of categories">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{ c.title}}</div>
            <div>{{ c.description}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card> -->