<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <h1>Welcome Sumit Bhor, How are You? Looking Handsome.</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Left Side</h2>
                <button mat-raised-button color="primary">Click Me</button>
            </div>
            <div class="col-md-6">
                <h2>Right Side</h2>
                <button mat-raised-button color="warn">Click Me</button>
            </div>
        </div>
    </div>
</div> -->